<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bovender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bovender.Properties.Versioning" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bovender.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="CcUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateDestinationFolder" serializeAs="String">
                <value />
            </setting>
        </Bovender.Properties.Settings>
        <Bovender.Properties.Versioning>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
        </Bovender.Properties.Versioning>
    </userSettings>
</configuration>