<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XLToolbox.Help.Properties.Topics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XLToolbox.Help.Properties.Topics>
            <setting name="WhatsNew" serializeAs="String">
                <value>release_notes.html</value>
            </setting>
            <setting name="Donate" serializeAs="String">
                <value>donate</value>
            </setting>
        </XLToolbox.Help.Properties.Topics>
    </applicationSettings>
</configuration>