<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XLToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XLToolbox.Properties.Settings>
            <setting name="WebsiteUrl" serializeAs="String">
                <value>http://xltoolbox.sf.net</value>
            </setting>
            <setting name="VersionInfoUrl" serializeAs="String">
                <value>http://xltoolbox.sourceforge.net/version-ng.txt</value>
            </setting>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://xltoolbox.sf.net/</value>
            </setting>
            <setting name="ExceptionPostUrl" serializeAs="String">
                <value>http://xltoolbox.sourceforge.net/receive.php</value>
            </setting>
        </XLToolbox.Properties.Settings>
    </applicationSettings>
</configuration>